{% set classes = [
  'paragraph',
  'paragraph--item-' ~ paragraph.id(),
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  'tab-wrapper-paragraph',
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished'
] %}
<div{{ attributes.addClass(classes) }}>
  <h2>{{ content.field_osu_tab_wrapper_title }}</h2>
  <div class="tab-wrapper-paragraph__items">
    {% for key, item in content.field_osu_paragraph_item %}
      {% if key|first != '#' %}
        {% set tabLinkId = 'tab-link-' ~ item['#paragraph'].id() %}
        {% set tabContentId = 'tab-content-' ~ item['#paragraph'].id() %}
        <div class="tab-wrapper-paragraph__tabs">
          <a id="{{ tabLinkId }}" class="tab-wrapper-paragraph__tab-link"
             href="#tab-content-{{ item['#paragraph'].id() }}" role="tab" aria-controls="{{ tabContentId }}">Tab 1
            <span class="d-inline-block d-md-none fa-solid fa-chevron-down fa-3xl"></span></a>
          <div id="tab-content-{{ item['#paragraph'].id() }}" class="tab-wrapper-paragraph__tab-content"
               role="tabpanel" aria-labelledby="{{ tabLinkId }}">
            {{ item }}
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
